<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.spring2.repository.CommentDao">

    <select id="selectByPostId" resultType="Comment">
        select * from comments
        where post_id = #{postId}
        order by id desc
    </select>
    
    <insert id="insert">
        insert into comments (post_id, username, ctext)
        values (#{postId}, #{username}, #{ctext})
    </insert>
    
    <update id="update">
        update comments
        set ctext = #{ctext}, modified_time = systimestamp
        where id = #{id}    
    </update>
        
    <delete id="deleteById">
        delete from comments where id = #{id}
    </delete>
    
    <delete id="deleteByPostId">
        delete from comments where post_id = #{postid}
    </delete>
 
    <select id="selectCommentCounts" >
        select count from comment
        where post_id = #{postid} 
    </select>
    
    <select id="selectById" resultType="Comment">
        select * from comments where id = #{id}
    </select>

</mapper>