<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Spring Boot 1</title>
	</head>
	<body>
		<!--templates/layout/fragments.html 파일의 myHeader 프레그먼트 끼워넣기 -->
        <div th:replace="~{layout/fragments :: myHeader('도서 목록 페이지')}"></div>
        
     <!--   <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>제목</th>
                    <th>저자</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="book : ${booklist}" th:object="${book}">
                    <td th:text="*{id}"></td>
                    <td th:text="*{title}"></td>
                    <td th:text="*{author}"></td>
                </tr> --> 
                
            <!-- 저자 없음일때 과제  -->
            <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>제목</th>
                    <th>저자</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="book : ${booklist}" th:object="${book}">
                    <td th:text="*{id}"></td>
                    <td th:text="*{title}"></td>
                    <td th:text="*{author != null} ? |*{author.firstName} *{author.lastName}| : '저자 없음'"></td>
                </tr>
            </tbody>
        </table>
        
	</body>
</html>